<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--suppress SqlNoDataSourceInspection, SqlResolve -->
<mapper namespace="cn.devifish.cloud.upms.server.mapper.RoleMapper">

    <resultMap id="baseResultMap" type="cn.devifish.cloud.upms.common.entity.Role">
        <id column="r_id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="remark" property="remark"/>
        <result column="authorities" property="authorities"/>
        <result column="system_flag" property="systemFlag"/>
        <result column="r_create_time" property="createTime"/>
        <result column="r_update_time" property="updateTime"/>
    </resultMap>

    <sql id="baseSql">
        `r`.id AS r_id,
        `r`.name,
        `r`.code,
        `r`.remark,
        `r`.authorities,
        `r`.system_flag,
        `r`.create_time AS r_create_time,
        `r`.update_time AS r_update_time
    </sql>

    <select id="selectByUserId" resultMap="baseResultMap">
        SELECT
        <include refid="baseSql"/>
        FROM t_role AS r
        LEFT JOIN t_user_role_relation AS urr ON urr.role_id = r.id
        <where>
            urr.user_id = #{userId}
        </where>
    </select>

</mapper>